﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/Site.css")
 
</head>
    <body>
        
        @{ Html.RenderAction("InMyCart", "Cart"); }
        <div id="header">
        
            <div class="title">@Html.ActionLink("Книжный магазин","GetBooks","Book")</div>
      
        </div>
        
        <div id="categories">
         
            @{ Html.RenderAction("Menu", "Navigation"); }
    
        </div>
        <div id="content">
        <div id="login">
            @Html.Partial("_LoginPartial")
        </div>
        
        
       
            @RenderBody()
        </div>
    
    </body>
</html>