﻿@if (Request.IsAuthenticated)
{
    <ul>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <li><input type="submit" class="actionButtons" value="Выйти"/></li>
        }
        <li>@Html.ActionLink(User.Identity.Name, "AccountInfo", "Account", routeValues: null, htmlAttributes: new { id = "username" })</li>
    </ul>
}
else
{
    <ul>
        <li>@Html.ActionLink("Зарегистрироваться", "Register", "Account", new { returnUrl = Request.Url.PathAndQuery }, htmlAttributes: new { id = "registerLink" })</li>
        
        <li>@Html.ActionLink("Войти", "Login", "Account", new { returnUrl = Request.Url.PathAndQuery }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
