﻿<table>
    <tr>
        <td>
            @Html.ActionLink("Книги", "Index","Admin")
        </td>
        <td>@Html.ActionLink("Авторы","Authors","Admin")</td>
        <td>@Html.ActionLink("Жанры","Genres","Admin")</td>
    </tr>
</table>
