﻿@model Bookstore.Models.Book

<div class="item">
    <table>
        <tr>
            <td>
                @if (Model.ImageData != null)
                {
                    <div style="float: left;margin-right: 20px">
                        <a href="@Url.Action("BookInfo", "Book", new { Model.Book_ID })"> <img width="150" src="@Url.Action("GetImage","Book",new{Model.Book_ID})"/></a>
                    </div>
                }
            </td>
            <td>
            <div style="float:left">
                <h3>@Html.ActionLink(Model.Name, "BookInfo", "Book",new { Model.Book_ID },null)</h3>
                <h4><span>@Model.About</span></h4>
                <h4> Цена :@Model.Price</h4></div></td>
            <td>
            @using (Html.BeginForm("AddToCart", "Cart"))
            {
                @Html.HiddenFor(x=>x.Book_ID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <div style="float:left">
                    <input class="actionButtons" type="submit" value="В корзину" />
                </div>
            }
            </td>
        </tr>
    </table>
</div>