﻿@model IEnumerable<Bookstore.Models.Genre>


<ul id="menu">
    <li>@Html.ActionLink("На главную", "GetBooks", "Book")</li>
    <li><a href="#">Жанры</a>
        <ul>
            @foreach (var genre in Model)
            {
                <li>@Html.RouteLink(genre.Genre_Name,
                    new
                    {
                        controller="Book",
                        action="GetBooks",
                        genre_Id=genre.Genre_ID,
                        page=1
                    })</li>
            }

        </ul>
    </li>
    <li>@Html.ActionLink("Авторы","GetAuthors","Author")</li>
    @if (WebSecurity.IsCurrentUser("Admin"))
    {
        <li>@Html.ActionLink("Администрирование", "Index", "Admin")</li>
    }
    
   
</ul>

