﻿@using Bookstore.Models
@model IEnumerable<Bookstore.Models.Author>

@{
    ViewBag.Title = "Authors";
}

<h2>Авторы</h2>
<p>@Html.ActionLink("Добавить автора","CreateAuthor")</p>
<div>@{ Html.RenderPartial("AdminNavigation"); }</div>


<table>
    @foreach (var a in Model)
    {<tr><td>
             @Html.ActionLink(a.First_Name+" "+a.Second_Name+" "+a.Last_Name,"EditAuthor",new{a.Author_ID})
         </td>
     
         @using (Html.BeginForm("DeleteAuthor", "Admin"))
         {<td>
              @Html.Hidden("author_ID", a.Author_ID)
                
              <input class="actionButtons" type="submit" value="Удалить" /> </td>
         }


        
        
     </tr>
    }
</table>
<div class="pager">
    @Html.PageLinks((PagingInfo)ViewBag.AdminAuthorsPage, x => Url.Action("Authors", new { page = x }))
</div>