﻿@model Bookstore.Models.Book

@{
    ViewBag.Title = "Create";
}

<h2>Создать новую книгу</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Книга</legend>

       
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Number_Of_Pages)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Number_Of_Pages)
            @Html.ValidationMessageFor(model => model.Number_Of_Pages)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Book_Weight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Book_Weight)
            @Html.ValidationMessageFor(model => model.Book_Weight)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.About)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.About)
            @Html.ValidationMessageFor(model => model.About)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Genre_ID)
        </div>
        <div class="editor-field">
             @Html.DropDownList("Genre_ID", (SelectList)ViewData["Genres"])
            @Html.ValidationMessageFor(model => model.Genre_ID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}


