﻿@model Bookstore.Models.Genre

@{
    ViewBag.Title = "EditGenre";
}

<h2>Редактровать жанр</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Genre</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Genre_Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Genre_Name)
            @Html.ValidationMessageFor(model => model.Genre_Name)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Genres")
</div>

