﻿@using System.Collections
@using Bookstore.Models
@model Bookstore.Models.BooksViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Редактировать книгу</h2>

@using (Html.BeginForm("Edit","Admin",FormMethod.Post,new {enctype="multipart/form-data"})) {
    @Html.ValidationSummary(true)
    @Html.Hidden("Book.Book_Id", Model.Book.Book_ID)
    <fieldset>
        <legend>Book</legend>

       <div class="editor-label">
            @Html.LabelFor(model => model.Book.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Book.Name)
            @Html.ValidationMessageFor(model => model.Book.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Book.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Book.Price)
            @Html.ValidationMessageFor(model => model.Book.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Book.Number_Of_Pages)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Book.Number_Of_Pages)
            @Html.ValidationMessageFor(model => model.Book.Number_Of_Pages)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Book.Book_Weight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Book.Book_Weight)
            @Html.ValidationMessageFor(model => model.Book.Book_Weight)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Book.About)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Book.About)
            @Html.ValidationMessageFor(model => model.Book.About)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Book.Genre_ID)
        </div>
        <div class="editor-field">
          
            @Html.DropDownList("Book.Genre_ID", (SelectList)ViewData["Genres"])
            @Html.ValidationMessageFor(model => model.Book.Genre_ID)
        </div>
        <div class="editor-label">Картинка товара</div>
        <div class="editor-field">
            @if (Model.Book.ImageData == null)
            {
               @:нет избражения
            }
            else
            {
                <img width="150"height="150"src="@Url.Action("GetImage","Book",new {Model.Book.Book_ID})"/>
            }
        </div>
        <div><input type="file" name="Image"/></div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<fieldset>
    <table>
        
        @foreach (var a in (IEnumerable<Author>)ViewData["Authors"])
        {   <tr>
               <td> @a.First_Name @a.Second_Name @a.Last_Name</td>
            
            
            @using (Html.BeginForm("DeleteAuthorBookByAuthor","Admin"))
            {<td>
                @Html.Hidden("Author_ID", a.Author_ID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input class="actionButtons" type="submit" value="Удалить" /> </td>
        }
           
           </tr>

        }
    </table>
    
    @using (Html.BeginForm("InsertAuthorBookByBook", "Admin"))
    {
       @Html.Hidden("Book_Id", Model.Book.Book_ID)
       @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
       @Html.DropDownList("Author_ID", new SelectList(Model.Authors, "Author_ID", "Last_Name"))
       <input class="actionButtons" type="submit" value="Добавить автора"/>
    }
 </fieldset>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

