﻿@model IEnumerable<Bookstore.Models.Genre>

@{
    ViewBag.Title = "Жанры";
}

<h2>Жанры</h2>

<p>
    @Html.ActionLink("Добавить жанр", "CreateGenre")
</p>
<div>@{ Html.RenderPartial("AdminNavigation"); }</div>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genre_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.ActionLink(item.Genre_Name,"EditGenre",new{item.Genre_ID})
        </td>
        <td>
            @Html.ActionLink("Удалить", "DeleteGenre", new { item.Genre_ID })
        </td>
    </tr>
}

</table>
