﻿@using Bookstore.Models
@model IEnumerable<Bookstore.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Админка</h2>

<p>
    @Html.ActionLink("Добавить книгу", "Create")
</p>
<div>@{ Html.RenderPartial("AdminNavigation"); }</div>
<table>
    <tr>
      
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
      
        <td>
            @Html.ActionLink( Html.DisplayFor(x => item.Name).ToString(),"Edit",new{item.Book_ID})
        </td>
    
        
            @using (Html.BeginForm("Delete", "Admin"))
            {<td>
                @Html.Hidden("book_ID", item.Book_ID)
                
                <input class="actionButtons" type="submit" value="Удалить" /> </td>
            }

          
        
    </tr>
}

</table>
<div class="pager">
    @Html.PageLinks((PagingInfo)ViewBag.AdminBooksPage, x => Url.Action("Index", new { page = x }))
</div>