﻿@model Bookstore.Models.BooksViewModel

@{
    ViewBag.Title = "BookInfo";
}

<h2>Информация о книге</h2>
<div class="item">
    <table>
        <tr>
            <td>
                @if (Model.Book.ImageData != null)
                {
                    <div style="float: left;margin-right: 20px">
                        <img width="100" src="@Url.Action("GetImage", "Book", new { Model.Book.Book_ID })"/>
                    </div>}
            </td>
            <td>
                <div style="float:left">
                    <h3>@Model.Book.Name</h3>
                    <h4><span>@Model.Book.About</span></h4>
                    <h4> Цена :@Model.Book.Price</h4>
                    <p> Вес :@Model.Book.Book_Weight</p>
                    <p> Количество страниц :@Model.Book.Number_Of_Pages</p>
                    <p>Жанр :@Model.Genre.Genre_Name</p>
                    <br/>
                    <p>Авторы :</p>
                    @foreach (var a in Model.Authors)
                {

                    <h3>@Html.ActionLink(a.Last_Name + " " + a.First_Name + " " + a.Second_Name, "AuthorsBooks", "Author", new { a.Author_ID }, null)</h3>
                    
                }
                </div>
            </td>
            
           <td>
            @using (Html.BeginForm("AddToCart", "Cart"))
            {
                @Html.Hidden("book_Id",Model.Book.Book_ID)
                
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <div style="float:left">
                    <input class="actionButtons" type="submit" value="В корзину" />
                </div>
            }
            </td>
        </tr>
    </table>
</div>