﻿@model Bookstore.Models.BooksViewModel

@{
    ViewBag.Title = "Books";
}
<div style="margin-top: 50px"></div>
@using (Html.BeginForm())
{<p>@Html.TextBox("searchString") <input class="actionButtons" type="submit" value="Поиск"/></p>
}
@foreach (var a in Model.Books)
    {
        
            
      Html.RenderPartial("Book",a);
        
    }
 
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("GetBooks", new { searchString = ViewBag.SearchString, page = x, genre_Id = Model.CurrentGenre }))
</div>
