﻿@model Bookstore.Models.AccountModel.UserProfile

@{
    ViewBag.Title = "AccountInfo";
}

<h2>Личный кабинет</h2>

<fieldset>
    <legend>Личный кабинет</legend>
    <table>
        <tr>
            <td>
            @Html.DisplayNameFor(model => model.UserName)
            </td>
   
    
            <td>
                <b>@Html.DisplayFor(model => model.UserName)</b> 
            </td>
        </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.FullName)
         </td>
    
    
        <td>
             <b>@Html.DisplayFor(model => model.FullName)</b>
        </td>
    </tr>
  <tr>
    
        <td> @Html.DisplayNameFor(model => model.Address)</td>
   
    
        <td><b>@Html.DisplayFor(model => model.Address)</b></td>
   </tr>
   <tr>
    
         <td> @Html.DisplayNameFor(model => model.Email)</td>
    
    
       <td> <b>@Html.DisplayFor(model => model.Email)</b></td>
   </tr>
   <tr>
    
         <td> @Html.DisplayNameFor(model => model.Phone)</td>
   
    
        <td><b>@Html.DisplayFor(model => model.Phone)</b></td>
    </tr>
    </table>
</fieldset>
