﻿@model Bookstore.Models.AccountModel.LoginModel
@{
    ViewBag.Title = "Login";
}


    <div>
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

            <fieldset>
                <legend>Log in Form</legend>
                <table>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.UserName)
                            </td><td>
                            @Html.TextBoxFor(m => m.UserName)
                            @Html.ValidationMessageFor(m => m.UserName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(m => m.Password)
                            </td><td>
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)
                        </td>
                    </tr>
                      <tr>
                        <td>
                            @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                        </td>
                    </tr>
                </table>
                
               <input type="submit" value="Log in" />
            </fieldset>
            
        }
    </div>
