﻿
@model IEnumerable<Bookstore.Models.Book>

@{
    ViewBag.Title = "AuthorsBooks";
}


<h2>Книги автора</h2>
<div style="margin-top: 60px"></div>
 @foreach (var a in Model)
 {
    
            
      Html.RenderPartial("Book",a);
        
    }