﻿@model Bookstore.Models.BooksViewModel

@{
    ViewBag.Title = "Книги автора";
}

<h2>Все авторы</h2>

@foreach (var author in Model.Authors)
{
    
        
        
      @Html.ActionLink(author.Second_Name + " " +author.First_Name + " "+author.Last_Name,"AuthorsBooks",new{author.Author_ID}) 
           <br />
            
    
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("GetAuthors", new {page = x}))
</div>