﻿@model Bookstore.Models.CartViewModel

@{
    ViewBag.Title = "Ваша корзина";
}

<h2>Корзина</h2>
<table width="90%" align="center">
  <thead>
    <tr>
      <th align="center">Количество</th>
      <th align="left">Книга</th>
      <th align="right">Цена</th>
      <th align="right">Цена всех</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var MyCart in Model.Cart.MyCarts) {
      <tr>
        <td align="center">@MyCart.Quantity</td>
        <td align="left">@MyCart.Book.Name</td>
        <td align="right">@MyCart.Book.Price</td>
          <td align="right">@(MyCart.Quantity * MyCart.Book.Price)</td>
          <td>
              @using (Html.BeginForm("RemoveFromCart", "Cart"))
               {
                  @Html.Hidden("book_Id",MyCart.Book.Book_ID)
                  @Html.HiddenFor(x=>x.ReturnUrl)
                  <input class="actionButtons" type="submit" value="Удалить"/>
               }
          </td>
      </tr>
    }
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" align="right">Итого:</td>
      <td align="right">
        @Model.Cart.TotalValue()
      </td>
    </tr>
  </tfoot>
</table>

<p align="center" class="actionButtons">
    <a href="@Model.ReturnUrl">Продолжить покупки</a>
     
    @Html.ActionLink("Заказать","Order")
</p>