﻿@model Bookstore.Models.CartModel.Cart

<div id="cart">
    
    <table>
        <tr>
            <td>
                @Model.MyCarts.Sum(x => x.Quantity) книг(а)
                @Model.TotalValue() рублей</td>
        </tr>
        <tr><td>
        @Html.ActionLink("Посмотреть в корзине", "Index", "Cart", new { returnUrl = Request.Url.PathAndQuery }, null)</td></tr>
    </table>
</div>