﻿@model Bookstore.Models.Orders.ShippingDetails

@{
    ViewBag.Title = "Оформить заказ";
}

<h2>Ваш заказ</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <table>
        <tr>
            <td>
                ФИО
            </td>
            <td>
                @Html.EditorFor(x=>x.Name)
            </td>
        </tr>
        <tr>
            <td>
                Адрес
            </td>
            <td>
                @Html.EditorFor(x=>x.Address)
            </td>
        </tr>
        <tr>
            <td>
                Телефон
            </td>
            <td>
                @Html.EditorFor(x=>x.Phone)
            </td>
        </tr>
        <tr>
            <td>
                E-mail
            </td>
            <td>
                @Html.EditorFor(x=>x.Email)
            </td>
        </tr>
    </table>
    
    <br />
    if (!Request.IsAuthenticated)
    {<p>тут должна быть реКапча </p>
    }
    <br/>
    <input class="actionButtons" type="submit" value="Подтвердить"/>
}
<br/>
@if (!Request.IsAuthenticated)
{
        
        <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", new { returnUrl = Request.Url.PathAndQuery }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { returnUrl = Request.Url.PathAndQuery }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
