﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

ul {list-style-type: none;margin: 0;padding: 0;}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

BODY { font-family: Cambria, Georgia, "Times New Roman"; margin: 0; }
DIV#header DIV.title, DIV.item H3, DIV.item H4, DIV.pager A {
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}
DIV#header
{
   
    background-image: url('Images/Untitled.jpg');
    padding: 20px;
    background-size: contain;
    background-color: #f6ae52;
    border-bottom: 2px solid #111;
    color: White;
    height: 130px;
    margin-bottom: 30px;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
DIV#header DIV.title a
{
    margin: 25px;
    font-size: 3em;
    padding: .6em;
    color: #CC3300;
    font-family: 'Times New Roman' , Times, serif;
    font-style: normal;
    font-weight: bolder;
    height: auto;
    float: left;
}
DIV#header DIV.title a:link{text-decoration: none;}
DIV#header DIV.title a:visited{text-decoration: none;}
DIV#header DIV.title a:hover{text-decoration: none;}

DIV#content { border-left: 2px solid gray; margin-left: 13em; padding: 1em; }
DIV#categories { float: left; width: 12em; padding: .3em; }

DIV.item
{
    border-top: 1px dotted gray;
    padding-top: .7em;
    margin-bottom: .7em;
    border-style: dotted solid solid solid;
    border-width: 1px;
    border-color: #FF9900;
}
DIV.item:first-child { border-top:none; padding-top: 0; }
DIV.item H3
{
    font-size: 1.3em;
    margin: 0 0 .25em 0;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
div.item h3 a{ text-decoration: underline;color: black}
div.item h3 a:hover{ text-decoration: none;color:#ffce76}
div.item h3 a:visited{color: black}
DIV.item H4 { font-size: 1.1em; margin:.4em 0 0 0;color:#8e8e8e }
DIV.item H4 span
{
    font-size: 0.9em;
    margin: .4em 0 0 0;
    font-family: 'Courier New' , Courier, monospace;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

DIV.pager { text-align:right; border-top: 2px solid silver;
    padding: .5em 0 0 0; margin-top: 1em; }
DIV.pager A { font-size: 1.1em; color: #666; text-decoration: none;
      padding: 0 .4em 0 .4em; }
DIV.pager A:hover { background-color: #ffce76; }
DIV.pager A.selected { background-color: #f6892b; color: White; }





DIV#categories A
{
    font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial; display: block;
    text-decoration: none; padding: .6em; color: Black;
    border-bottom: 1px solid #e56c03;
}
div#categories menu ul,li{list-style: none;margin: 0;padding: 0;}
DIV#categories A.selected { background-color: #666; color: White; }
DIV#categories A:hover { background-color: #CCC; }
DIV#categories A.selected:hover { background-color: #666; }

/*menu*/
#menu  > li{
  position: relative; 
    
  }
#menu li ul {
    position: absolute; 
    display: none; 
    top: 2px; 
    left: 126px; 
   }

 #menu li:hover ul {
   display: block;
   background-color:#f6892b
   }

#menu li a:hover{ background-color: #f6892b;}
#menu li ul li{
  text-align:left;
    width:150px;
  background-color:#ffce76;
 }


#menu li ul li a{
  font-size:14px;
  
  text-decoration:none;
}

#menu li ul li a:hover{
  font-size: 14px;
  background-color:#f6892b;
  text-decoration:none;
}
/*#menu */

#login {float: right}
#login li 
{
    padding: 0px 10px;
    color: black;
    text-decoration: underline;
    float:right
}
#login a:hover{ color: rgb(106, 102, 93);text-decoration: none}
#login a:visited {
    color: Black;
    text-decoration: none
}
#login a{color: black;
    text-decoration: underline;
    float:right}
FORM { margin: 0; padding: 0; }
DIV.item FORM { float:right; }
DIV.item INPUT {
    color:White; background-color: #f6892b; border: 1px solid #e56c03; cursor:pointer; 
}

H2 { margin-top: 0.3em }
TFOOT TD { border-top: 1px dotted #e56c03; font-weight: bold; }
.actionButtons A, INPUT.actionButtons {
    font: .8em Arial; color: White; margin: .5em;
    text-decoration: none; padding: .15em 1.5em .2em 1.5em;
    background-color: #f6892b; border: 1px solid black;
}
INPUT.actionButtons:hover{background-color:#e56c03}

DIV#cart

{
    display: block;
    float: right;
    margin: .8em .8em 20px .8em;
    color: #000000;
    background-color: #e39121;
    padding: .5em .5em .5em 1em;
    vertical-align: top;
}
DIV#cart A { text-decoration: none; padding: .4em 1em .4em 1em; line-height:2.1em;
   margin-left: .5em; background-color: #333; color:White; border: 1px solid black;}
DIV#cart A:hover{background-color: #ffce76;}